<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Group Registered</h1>
    <p><%= @user.group %></p>
    <p><%= @user.first_name %> <%= @user.last_name %></p>
    <p><%= @user.email %></p>
    <p><%= @user.address %> <%= @user.location %>, <%= @user.state %></p>
  </body>
</html>