<% content_for :title do %><%=@event.name%><% end %>
<%= render :partial => "events/nav" %>
<div class="row">
	<div class='col-lg-6'>
		<h2><%=@event.name%></h2>
		<p>Host: <%=@event.user.first_name%> <%=@event.user.last_name%></p>
		<p>Date: <%=@event.date.strftime("%B %d %Y")%></p>
		<p>Location: <%=@event.location%>, <%=@event.state%></p>
		<p>Groups that are joining the event: <%=@count%></p>
		<table class="table table-striped table-bordered">
			<tr>
				<th>Name</th>
				<th>Location</th>
				<th>State</th>
			</tr>
			<% @attendees.each do |attendee|%>
			<tr>
				<td><a href="/users/<%=attendee.id%>"><%=attendee.group%></a></td>
				<td><%=attendee.location%></td>
				<td><%=attendee.state%></td>
			</tr>
			<% end %>
		</table>
	</div>
	<div class='col-lg-6'>
		<h3>Discussions about this event:</h3>
		<div id="comments">
		<% @comments.each do |comment| %>
		<p><a href="/users/<%=comment.user.id%>"><%=comment.user.first_name%></a> says: <%=comment.content%></p>
		<hr>
		<% end %>
		</div>
<!-- ********************** add comment *********************** -->
<% if flash[:error] %>
  <% flash[:error].each do |e| %>
    <p style="color:red"><%= e %></p>
  <% end %>
<% end %>
		<form action='/comments/<%=@event.id%>' method='post'>
			<div class="form-group">
				<label for="comment">Add Comment</label>
				<input type="text" name="content" class="form-control" id="comment" placeholder="comment">
				<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
			</div>
			<button type="submit" class="btn btn-success pull-right">Add Comment</button>
		</form>
	</div>
</div>
<div style='width: auto;'>
		  <div id="map" style='width: auto; height: 400px;'>
		  </div>
		</div>
<script>
handler = Gmaps.build('Google');
handler.buildMap({
    provider: {},internal: {id: 'map'}},function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  }
);
</script>

